th{
  padding: 10px;
  border: solid black;
  background-color: #f0f0f0;
}
table {
  border-collapse: collapse;
  font-size: 1.2rem;
  border: solid black;

}
td{
  padding: 10px;
  border: solid black;
}
